@import "reset.css";

body {background-color: black;}

#outer { width:100%; display: flex;	justify-content: center; }
#console { 
	font-family: 'Victor Mono', consolas, monospace;	
	color: rgb(255, 255, 255);
	width: 850px;
	position: relative;
	font-size:1.2em;
}
.center { position: absolute; top: 50%;	width: 100%; text-align: center;}
.topleft { position: absolute; top: 130px; left: 90px; }
.topright { position: absolute;	top: 50px; right: -110px; }
.bottomright { position: absolute; bottom: 60px; right: -65px; }
.terminal {width: 975px; height: 688px;}

p { line-height: 32px; margin: 0 0 24px; }
a {color: rgb(0, 187, 204);text-decoration: none;}
#a {color: rgb(0, 255, 0);}
#c {color: rgb(0, 187, 204);}
#b {color: rgb(255, 0, 150);}
#k {animation: caret 1s infinite;}
#op{color: rgb(136, 136, 136)}
@keyframes caret {
	0% { color:  rgb(0, 255, 0); }	
	50% { color:  rgb(0, 255, 0); } 
	99% { color: black; }
}

/*----------------------------------Extras------------------------------------*/
a {color:rgb(153, 153, 153);text-decoration:none}
a:hover{color:rgb(153, 153, 153); border-bottom:1px solid #555;}

small, sub, sup { font-size: .83em }
sub { vertical-align: sub }
sup { vertical-align: super }

.subtle {color:rgb(119, 119, 119);text-decoration:none}
.subtle:hover{color:rgb(153, 153, 153)}

.social i{color:rgb(255, 255, 255);}
.social a{border-bottom:0; border: 0; border: none; border: hidden;}
.theme-twitter:hover{color:rgb(0, 172, 237);}
.theme-github:hover{color:rgb(64, 120, 192);}

.pi{color:rgb(119, 119, 119);text-decoration:none;cursor: default;}